/**
 * You can use sass syntax + CSS4 http://cssnext.io/
 * You can build grids with: http://lostgrid.org/
 */

.ColumnSection__grid div {
    lost-column: 1/1;
}

@media (min-width: 400px) {
    .ColumnSection__grid div {
        lost-column: 1/3;
    }
}

@media (min-width: 900px) {
    .ColumnSection__grid div {
        lost-column: 1/6;
    }
}

p:matches(:first-child, .special) {
  color: red;
}